{% extends 'layout.html.twig' %}

{% block html %}<html xmlns:og="http://ogp.me/ns#"> {% endblock %}

{% block title %}Image{% endblock %}

{% block meta %}
  <meta property="og:title" content="Détail de l'image {{ image.filename }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ path('detail', {filename: image.filename}) }}" />
  <meta property="og:image" content="{{ image.path }}" />
  <meta property="og:description" content="Affichage des meta donnéées de l'image {{ image.filename }}. Opérations réalisés grâce à l'outil exiftool" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Microdate project" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@flo_quach">
  <meta name="twitter:title" content="Détail de l'image {{ image.filename }}">
  <meta name="twitter:description" content="Affichage des meta donnéées de l'image {{ image.filename }}. Opérations réalisés grâce à l'outil exiftool" />
  <meta name="twitter:image" content="{{ image.path }}" />

{% endblock %}

{% block main %}
  <div id="detail">
    <h1>Détails pour <span class="filename">{{ image.filename }}</span></h1>
    <section>

      <aside id="image">
        <figure>
          <div>
            <img itemprop="image" src="{{ image.path }}" alt="{{ image.filename }}"/>
          </div>
          <figcaption>
            <div class="name" itemprop="name">{{ image.name }}</div>
            <div itemprop="author">{{ image.author }}</div>
            <span itemprop="description" content="{{ image.description }}"></span>
            <span itemprop="contentLocation" content="{{ image.location }}"></span>
          </figcaption>
        </figure>
        <div>
          <a class="download button button-outline" href="{{ path('downloadFile', {filename: image.filename}) }}" target="_blank">Télécharger l'image</a>
        </div>
        <div>
          <a class="download button button-outline" href="{{ path('downloadXmp', {filename: image.filename}) }}" target="_blank">Télécharger le fichier XMP Sidecar</a>
        </div>
      </aside>

      <aside id="data">
        <h2>Liste de métadonnées</h2>
        <div>
          <a class="download button button-outline" href="{{ path('update', {filename: image.filename}) }}">Mettre à jour</a>
        </div>
        <div class="sections">
          {% for key, data in image.data %}{% if key != 'SourceFile' %}
          <section>
            <h3>{{ key }}:</h3>
            <div class="content">
              {% if data is iterable %}{% for subKey, subData in data %}
              {% if key == 'EXIF' %}
              <div itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
                <meta itemprop="name" content="{{ subKey }}">
                <meta itemprop="value" content="{{ subData }}">
              </div>
              {% endif %}
              <section>
                <h3>{{ subKey }}:</h3>
                <div class="content">
                  {% if subData is iterable %}
                  {{ subData|join(', ') }}
                  <script type="text/javascript">
                  var tags ="{{ subData|join(',') }}";
                  </script>
                  {% else %}
                  {{ subData }}
                  {% endif %}
                </div>
              </section>
              {% endfor %}{% else %}
              {{ data }}
              {% endif %}
            </div>
          </section>
          {% endif %}{% endfor %}
        </div>
      </aside>

    </section>
    <h2>Correspondances Flickr</h2>
    <section>
      <ul id="flickr">Chargement...</ul>
    </section>
  </div>
  <script type="text/javascript" src="js/flickr.js"></script>
{% endblock %}
