{% extends 'layout.html.twig' %}

{% block title %}
  Liste des images
{% endblock %}

{% block main %}
  <h1>Images</h1>

  <div id="images">
    {% for image in images %}
      <div class="image">
        <a href="details?image={{ image.filename }}">
          <figure>
            <img src="{{ image.path }}" alt="{{ image.filename }}"/>
            <figcaption>
              <div>{{ image.name }}</div>
              <div>{{ image.creator }}</div>
            </figcaption>
          </figure>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}
