{% extends 'layout.html.twig' %}

{% block title %}Liste des images{% endblock %}

{% block main %}
  <div id="list">
    <h1>Liste des images</h1>

    <div id="images">
      {% for image in images %}
        <div class="image" itemscope itemtype="http://schema.org/ImageObject">
          <a href="detail/{{ image.filename }}">
            <figure>
              <div><img itemprop="image" src="{{ image.path }}" alt="{{ image.filename }}"/></div>
              <figcaption>
                <div itemprop="name">{{ image.name }}</div>
                <div class="author" itemprop="author">{{ image.author }}</div>
                <span itemprop="description" content="{{ image.description }}"></span>
                <span itemprop="contentLocation" content="{{ image.location }}"></span>
              </figcaption>
            </figure>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
