{% extends 'layout.html.twig' %}

{% block title %}Modifier les metadata de l'image{% endblock %}

{% block main %}
  <div id="update">
    <h1>Détails pour <span class="filename">{{ image.filename }}</span></h1>
    <section>
      <aside id="image">
        <figure>
          <div>
            <img itemprop="image" src="{{ root }}{{ image.path }}" alt="{{ image.filename }}"/>
          </div>
          <figcaption>
            <div class="name" itemprop="name">{{ image.name }}</div>
            <div itemprop="author">{{ image.author }}</div>
            <span itemprop="description" content="{{ image.description }}"></span>
            <span itemprop="contentLocation" content="{{ image.location }}"></span>
          </figcaption>
        </figure>
      </aside>
      <aside id="data">
        <h2>Liste de métadonnées</h2>
        <div id="difftable"></div>
        {{ form_start(form) }}
          {% set currentCateg = '' %}
          {% for name in form|keys %}
            {% set splited = name|split('---') %}
            {% set newCateg = splited[0] %}
            {% set newLabel = splited[1] %}

            {% if currentCateg != newCateg %}
              {% if currentCateg != '' %}</fieldset>{% endif %}
              <fieldset>
                <legend>{{ newCateg }}:</legend>
            {% endif %}

            {{ form_label(form[name], newLabel) }}
            {{ form_widget(form[name]) }}
            {{ form_errors(form[name]) }}

            {% set currentCateg = newCateg %}
          {% endfor %}
          </fieldset>
          <input type="submit" name="Data validation"/>
        {{ form_end(form) }}
      </aside>
    </section>
  </div>

  <script src="js/diff.js"></script>
{% endblock %}
