{% extends 'layout.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block main %}
  <div id="list">
    <h1>Ajouter une image</h1>

    {{ form_start(form) }}
      <fieldset>
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
      </fieldset>
      <input type="submit" name="Upload File"/>
    {{ form_end(form) }}
  </div>
{% endblock %}
