<div id="title"><a href="{{ path('list') }}">Micrometa</a></div>
<nav>
  <ul>
    <li><a href="{{ path('list') }}">Liste</a></li>
    <li><a href="{{ path('map') }}">Carte</a></li>
    <li><a href="{{ path('upload') }}">Ajouter</a></li>
    <li><a href="{{ path('about') }}">À Propos</a></li>
  </ul>
</nav>
